
## CONFIGURATION NEEDED ON .env FILE ##


## you are requried to get an API key from https://bscscan.com/apis
BSC_SCAN_API_KEY=

## you are requried to get JSON_RPC url  for Solana network from quiknode https://www.quiknode.io/
JSON_RPC_PROVIDER=

## you are requried to get Websocket url for Solana network from quiknode https://www.quiknode.io/
WSS_URL

## this is the pancakeswap router used for staking
PANCAKESWAP_ROUTER=0x73feaa1eE314F8c655E354234017bE2193C9E24E

## you are required to get an API key from Moralis https://moralis.io/
MORALIS_API_KEY=

## your private key from Metamask

PRIVATE_KEY=